.inlaid {
  position: relative;
  color: rgba(23, 23, 23, 0.8);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5),
               -1px -1px 1px rgba(0, 0, 0, 0.2);
  mix-blend-mode: multiply;
}

.ntlParkLight {
  font-size: 1.2em;
  font-family: 'National Park Variable', 'National Park', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
